@use "@styles/theme";

.ErrorBoundary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
}
.ErrorContent {
  padding: 2rem;
  border-radius: 6px;
  width: 50%;
  background-color: theme.$grey01;
  border: 1px solid theme.$grey03;
  text-align: center;

  > h3 {
    color: theme.$primary03;
    margin-bottom: 1rem;
    font-size: theme.$fontSizeLarger;
  }

  > p {
    color: theme.$text;
    margin-bottom: 1.5rem;
    line-height: 1.5;
  }
}

.ErrorDetails {
  margin-top: 1rem;
  text-align: left;

  > summary {
    cursor: pointer;
    color: theme.$text;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  > pre {
    background-color: theme.$grey00;
    padding: 1rem;
    border-radius: 0.25rem;
    font-size: theme.$fontSizeSmaller;
    color: theme.$text;
    overflow-x: auto;
    white-space: pre-wrap;
    word-break: break-word;
  }
}

.RetryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: theme.$grey00;
  background-color: theme.$secondary03;
  padding: 4px 8px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  transition: background-color 0.15s ease-in-out;

  &:focus,
  &:hover {
    background-color: theme.$secondary05;

    &.Download {
      background-color: theme.$grey02;
    }
  }
}

.SpecialisedErrorBoundary {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 12px;
  margin: 12px 0;
  text-align: center;

  &.ExternalContent {
    background: theme.$grey01;
    border: 1px solid theme.$grey02;
    color: #6c757d;
    height: 100%;
    justify-content: center;
  }

  &.LocalStorage {
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
  }

  &.PDF {
    background: #fff3cd;
    border: 1px solid #ffeaa7;
    color: #856404;
  }
}
