@use "src/styles/theme";

.UpperSection {
  display: flex;
  margin: 30px 0;
  justify-content: center;
  align-items: center;

  .Image {
    width: 100%;
    max-width: 450px;
    height: auto;
    border: 5px solid theme.$primary03;
    border-radius: 5px;

    &.LeftImage {
      max-width: 500px;
      border: 5px solid theme.$secondary03;
    }
  }

  .CenterTextContainer {
    min-width: 450px;
    font-size: 28px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .Line1 {
      display: flex;
      align-self: flex-start;
      color: theme.$primary03;
      font-size: 40px;
    }

    .Line2 {
      display: flex;
      align-self: flex-start;
      color: theme.$grey07;
      font-size: 32px;
      padding-left: 36px;
    }

    .Line3 {
      display: flex;
      align-self: flex-end;
      color: theme.$secondary03;
      font-size: 40px;
    }
  }
}

.FeaturesSection {
  display: flex;
  flex-direction: column;
  color: theme.$primary03;
  margin: 12px 0 24px;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;

  .FeaturesText {
    width: 70%;
    margin: 0 auto;
    color: theme.$grey10;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .FeaturesBlock {
    width: 80%;
    color: theme.$grey00;
    background: theme.$primary03;
    padding: 25px;
    border-radius: 20px;

    .H2 {
      font-weight: 600;
      color: theme.$secondary03;
      text-align: center;
    }

    .UnorderedList {
      list-style-type: square;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;

      .ListItem {
        color: theme.$secondary03;
        margin-left: 20px;
        padding: 10px 0 10px 10px;
        font-size: 20px;

        > span {
          color: theme.$grey00;
        }
      }
    }
  }
}

.LowerSection {
  height: 140px;
  color: theme.$grey00;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  background-color: theme.$secondary03;
  justify-content: space-evenly;
  align-items: center;

  .Button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: theme.$grey00;
    font-size: 20px;
    background: theme.$primary03;
    height: 38px;
    width: 150px;
    border: none;
    border-radius: 5px;

    &:focus,
    &:hover {
      background: theme.$primary02;
      border: none;
      outline: none;
    }
  }
}
