@use "@styles/theme";

.Form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;

  &.HasHelpText {
    padding-bottom: 0;
  }

  .Upper {
    width: 100%;
    display: flex;
    align-items: baseline;

    .Label {
      color: theme.$primary03;
      width: 25px;
      gap: 4px;
    }

    .InputWrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-width: 250px;
      width: calc(
        100% - 25px - 88px - 20px
      ); // Label width - PostInputItemsContainer width - L-R margins
      margin: 0 10px;

      .Input {
        height: 30px;
        font-size: 16px;
        padding: 2px 5px;
      }
    }

    .PostInputItemsContainer {
      display: flex;
      gap: 4px;
      align-items: center;

      .Button {
        color: theme.$grey00;
        background: theme.$primary03;
        font-size: inherit;
        text-align: center;
        line-height: 1em;
        padding: 2px 5px;
        height: 25px;
        border: none;
        border-radius: 5px;

        &:active {
          background: theme.$primary04;
          border: none;
          outline: none;
        }

        &:disabled {
          opacity: 30%;
        }
      }
    }
  }

  .Lower {
    margin: 0 35px;

    .Small {
      display: block;
      color: theme.$grey07;
      margin-top: 4px;
      font-size: 0.8em;

      &.Error {
        color: theme.$error;
      }
    }
  }
}
