@use "src/styles/theme";

.Badge {
  margin: 0;

  &.Hint {
    background-color: theme.$primary03 !important;
  }

  &.NC {
    background-color: theme.$secondary03 !important;
  }

  &.Title {
    background-color: theme.$grey06 !important;
  }

  &.ReducedLeftMargin {
    margin: 0 0 0 4px;
  }
}

.GlossContainer {
  margin: "0 0 0 30px";

  .Word {
    color: theme.$primary03;
    font-weight: 700;
    margin-bottom: 4px;
  }
}

.GuideText {
  width: "100%";
  margin: 6px auto;
  color: theme.$grey07;
  font-size: 16px;
  text-align: justify;
  text-indent: 24px;
  letter-spacing: 0.03em;
}

.H1 {
  font-weight: 600;
  color: theme.$secondary03;
  text-align: center;
}

.H2 {
  font-weight: 600;
  color: theme.$grey10;
  text-align: left;
}

.H3 {
  font-weight: 500;
  color: theme.$grey10;
  text-align: left;
  font-style: italic;
}

.HelpSection {
  margin: 30px auto;
  width: 70%;
}

.HelpText {
  color: theme.$grey07;
  text-align: justify;
  margin: 0 0 12px 24px;
  letter-spacing: 0.03rem;
}

.LegendText {
  width: 100%;
  margin: 0 auto;
  color: theme.$grey07;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0.03em;
}

.NameAndCreator {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.ResourceLink {
  color: theme.$primary03;
  text-decoration: none;
  padding: 0;
  font-size: 18px;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    color: theme.$secondary03;
  }

  &:focus {
    text-decoration: underline;
  }

  &:hover {
    transition: 500ms ease;
  }
}

.Span {
  color: theme.$grey07;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.03em;
}

.Table {
  border: none;
  border-collapse: collapse;

  .Row {
    height: 50px;

    .Cell {
      width: 100px;
      text-align: center;
    }
  }
}
