@use "src/styles/theme";
@use "src/styles/variables";

.Modal {
  color: theme.$grey10;

  > div {
    max-height: 800px;
    overflow: hidden;
    width: 600px;

    @media (width <= 1024px) {
      width: 90%;
    }
  }

  .Title {
    color: theme.$primary03;
  }

  &.Sent {
    > div {
      width: 500px;
    }
  }

  .Button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: theme.$grey00;
    font-size: inherit;
    background: theme.$primary03;
    height: 38px;
    width: 90px;
    border: none;
    border-radius: 5px;

    &.Cancel {
      color: theme.$primary03;
      background: theme.$grey00;
    }

    &:focus,
    &:hover {
      background: theme.$primary04;
      border: none;
      outline: none;

      &.Cancel {
        color: theme.$primary04;
        background: theme.$grey02;
      }
    }

    &:disabled {
      background: theme.$primary01;
      cursor: not-allowed;
    }
  }

  .EmailSent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .EmailSentSubTitle {
      font-size: 14px;
    }
  }

  .Form {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .NameAndEmailContainer {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 24px;

      @media (width <= 800px) {
        flex-direction: column;
        gap: 12px;
      }
    }

    .FormSection {
      display: flex;
      height: 70px;
      flex-direction: column;
      gap: 4px;
      flex: 1 0 0;
      color: theme.$primary03;

      @media (width <= 800px) {
        width: 100%;
      }

      .TextInput {
        padding: 2px 8px;
        border: variables.$defaultBorderStyle;
        border-radius: 6px;

        &::placeholder {
          font-size: 14px;
        }
      }

      .TextArea {
        padding: 4px 8px;
        border: variables.$defaultBorderStyle;
        border-radius: 6px;
        max-height: 250px;
        overflow: auto;

        &::placeholder {
          font-size: 14px;
        }
      }

      .TextAreaErrors {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        &.HasErrors {
          justify-content: space-between;
        }
      }

      .ErrorHelp {
        color: theme.$error;
        font-size: 14px;
        margin: -2px 0 0 8px;
      }

      .Help {
        color: theme.$grey10;
        font-size: 14px;
        margin: -2px 0 0 8px;
        align-self: flex-end;
      }
    }
  }
}
