@use "src/styles/theme";
@use "src/styles/variables";

.Modal {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: theme.$primary03;
  max-height: 800px;
  overflow: hidden;
  width: 600px;

  @media (width <= 1024px) {
    width: 90%;
  }

  &.Sent {
    width: 500px;
  }

  .Body {
    width: 100%;
    box-sizing: border-box;
    padding: 24px 20px;
    border-bottom: 1px solid theme.$grey03;

    .EmailSent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;

      .H3 {
        font-size: 24px;
        margin: 0;
        color: theme.$primary03;
      }

      .EmailSentSubTitle {
        font-size: 14px;
      }
    }

    .Form {
      display: flex;
      flex-direction: column;
      gap: 18px;

      .NameAndEmailContainer {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 24px;

        @media (width <= 800px) {
          flex-direction: column;
          gap: 12px;
        }
      }

      .FormSection {
        display: flex;
        color: theme.$primary05;
        flex-direction: column;
        height: 70px;
        gap: 4px;
        flex: 1 0 0;

        @media (width <= 800px) {
          width: 100%;
        }

        .TextInput {
          height: 34px;
          min-height: 34px;
          padding: 2px 8px;
          border: variables.$defaultBorderStyle;
          border-radius: 6px;

          &::placeholder {
            font-size: 14px;
          }
        }

        .TextArea {
          font-family: inherit;
          padding: 8px;
          border: variables.$defaultBorderStyle;
          border-radius: 6px;
          min-height: 150px;
          max-height: 250px;
          resize: vertical;
          overflow-y: auto;

          &::placeholder {
            font-size: 14px;
          }
        }

        .TextAreaErrors {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;

          &.HasErrors {
            justify-content: space-between;
          }
        }

        .ErrorHelp {
          color: theme.$error;
          font-size: 14px;
          margin: -2px 0 0 8px;
        }

        .Help {
          color: theme.$grey10;
          font-size: 14px;
          margin: -2px 0 0 8px;
          align-self: flex-end;
        }
      }
    }
  }

  .Footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    width: 100%;
    padding: 16px 20px;
    box-sizing: border-box;

    .Button {
      position: relative;
      color: theme.$grey10;
      height: 38px;
      width: 90px;
      border: 1px solid theme.$grey10;
      border-radius: 6px;
      outline: none;
      padding: 4px 12px;
      font-size: 16px;
      cursor: pointer;
      background: none;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 4px;
        background: theme.$primary04;
        top: 0;
        left: 0;
        z-index: -1;
        transform: scaleX(0);
        transition:
          background 0.5s,
          transform 0.5s,
          opacity 0.5s ease-in;
      }

      &::before {
        left: -30%;
      }

      &::after {
        right: -30%;
      }

      &:disabled {
        border-color: theme.$grey04;
        color: theme.$grey04;
        cursor: not-allowed;
      }

      &:hover:not([disabled])::after,
      &:focus-within:not([disabled])::after {
        transform: scale(1);
      }

      &:hover:not([disabled]),
      &:focus-within:not([disabled]) {
        color: theme.$grey00;
        border-color: theme.$grey10;
        transform: translateY(0);
        transition: border-color 1s;
      }
    }

    .CancelButton {
      text-decoration: none;
      color: theme.$primary03;
      background: transparent;
      font-weight: 400;
      vertical-align: top;
      height: 38px;
      width: 90px;
      border: none;
      padding: 0;
      font-size: 16px;
      overflow: hidden;
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        background-color: theme.$primary04;
        height: 2px;
        bottom: 0;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      }

      &:hover,
      &:focus-within {
        color: theme.$primary04;
        font-weight: 600;
      }

      &:focus-within {
        outline: none;
      }

      &:hover::before,
      &:focus-within::before {
        transform-origin: 0% 50%;
        transform: scaleX(1);
      }
    }
  }
}
