@use "src/styles/theme";

.Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 12px 0 4px 24px;

  .HeaderContainer {
    display: flex;
    align-items: baseline;
    width: 100%;
    padding: 8px 0;
    gap: 24px;
    color: theme.$grey07;

    .Header {
      color: theme.$primary03;
      margin-bottom: 5px;
    }

    .FormSwitch {
      input {
        border-color: theme.$primary03;
        color: theme.$primary03;

        &:checked {
          background-color: theme.$primary03;
          border-color: theme.$primary03;
        }
      }
    }
  }

  .Small {
    color: theme.$grey07;
    margin: 6px 0;
    font-size: 0.8em;
  }

  .LinesContainer {
    overflow-y: scroll;
    flex-grow: 1;
  }

  .ButtonsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 12px;

    .Button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: theme.$grey00;
      background: theme.$secondary03;
      height: 38px;
      width: 90px;
      border: none;
      border-radius: 5px;

      &.Back {
        color: theme.$primary03;
        background: theme.$grey02;
      }

      &:focus,
      &:hover {
        background: theme.$secondary02;
        border: none;
        outline: none;

        &.Back {
          background: theme.$grey04;
        }
      }
    }
  }
}
