@use "src/styles/theme";

.Link {
  color: theme.$primary03;
  margin-bottom: 0;

  &:hover,
  &:focus {
    color: theme.$secondary03;
    outline: none;
    cursor: pointer;
  }

  &:hover {
    transition: 500ms ease;
  }
}

.PersonalSiteLink {
  color: theme.$primary03;
  margin-bottom: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    color: theme.$secondary03;
    outline: none;
    cursor: pointer;
  }

  &:hover {
    transition: 500ms ease;
  }
}

.PageWrapper {
  height: 100%;
  width: 98vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.PopoverHeader {
  color: theme.$grey00;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: theme.$tertiary03;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
}

.navbar-light .navbar-nav .nav-link {
  color: theme.$grey00;
  text-decoration: none;
  padding: 0;
  font-size: 16px;

  &.Dark {
    color: theme.$primary03;
  }

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    color: theme.$secondary03;
  }

  &:focus {
    text-decoration: underline;
  }

  &:hover {
    transition: 500ms ease;
  }
}
