@use "src/styles/theme";

.Link {
  color: theme.$primary03;
  margin-bottom: 0;

  &:hover,
  &:focus {
    color: theme.$primary05;
    outline: none;
    cursor: pointer;
  }

  &:hover {
    transition: 500ms ease;
  }
}

.PersonalSiteLink {
  color: theme.$primary03;
  margin-bottom: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    color: theme.$primary05;
    outline: none;
    cursor: pointer;
  }

  &:hover {
    transition: 500ms ease;
  }
}

.PageWrapper {
  height: 100%;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.PopoverHeader {
  color: theme.$grey00;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: theme.$tertiary;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
}

.dropdown-menu {
  padding: 0;
}
