@use "@styles/theme";
@use "@styles/variables";

.Link {
  color: theme.$primary03;
  margin-bottom: 0;

  &:hover,
  &:focus {
    color: theme.$primary05;
    outline: none;
    cursor: pointer;
  }

  &:hover {
    transition: 500ms ease;
  }
}

.PersonalSiteLink {
  color: theme.$primary03;
  margin-bottom: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    color: theme.$primary05;
    outline: none;
    cursor: pointer;
  }

  &:hover {
    transition: 500ms ease;
  }
}

.PageWrapper {
  width: 100dvw;
  height: calc(100% - variables.$headerHeight - variables.$footerHeight - 16px);
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  box-sizing: border-box;
  overflow-y: auto;

  @media (width < 600px) {
    height: calc(
      100% - variables.$headerHeight - variables.$mobileFooterHeight - 16px
    );
  }
}

.PopoverHeader {
  color: theme.$grey00;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: theme.$tertiary;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
}

.dropdown-menu {
  padding: 0;
}
