/*
 *
 * Some of the hex colours are also used in the config.ts
 * file that styles Mirador viewer
 *
 */

$primary01: #7990b9;
$primary02: #546fa0;
$primary03: #3e5276;
$primary04: #2a3850;
$primary05: #151c28;
$secondary01: #e0d0a3;
$secondary02: #d6c085;
$secondary03: #c9ac5f;
$secondary04: #b8973d;
$secondary05: #8a712e;
$tertiary01: #81c59c;
$tertiary02: #57b27c;
$tertiary03: #3e885b;
$tertiary04: #2d5242;
$tertiary05: #1a3826;

// $tertiary01: #e0a49a;
// $tertiary02: #d0767e;
// $tertiary03: #c14953;
// $tertiary04: #a73942;
// $tertiary05: #892f36;

$grey00: #fbfafb;
$grey01: #ebebeb;
$grey02: #d6d6d6;
$grey03: #c2c2c2;
$grey04: #adadad;
$grey05: #999;
$grey06: #858585;
$grey07: #707070;
$grey08: #5c5c5c;
$grey09: #474747;
$grey10: #333;
$error: #dc3545;
