/*
 *
 * Some of the hex colours are also used in the config.ts
 * file that styles Mirador viewer
 *
 */

$primary01: #a9bb77;
$primary02: #8da352;
$primary03: #65743a;
$primary04: #475129;
$primary05: #232915;
$secondary01: #e0d0a3;
$secondary02: #d6c085;
$secondary03: #c9ac5f;
$secondary04: #b8973d;
$secondary05: #8a712e;
$tertiary: #3e5276;
$grey00: #fbfafb;
$grey01: #ebebeb;
$grey02: #d6d6d6;
$grey03: #c2c2c2;
$grey04: #adadad;
$grey05: #999;
$grey06: #858585;
$grey07: #707070;
$grey08: #5c5c5c;
$grey09: #474747;
$grey10: #333;
$error: #dc3545;
