@use "@styles/theme";

.UpperSection {
  display: flex;
  margin: 10px 0 20px;
  justify-content: center;
  align-items: center;

  @media (width < 1024px) {
    flex-direction: column;
    margin: 8px 0 12px;
  }

  @media (width < 600px) {
    margin: 0;
  }

  .Image {
    width: 100%;
    max-width: 470px;
    height: auto;
    border: 1px solid theme.$primary03;
    border-radius: 5px;

    @media (width < 1440px) {
      max-width: 340px;
    }

    @media (width < 1024px) {
      order: 2;
    }

    @media (width < 600px) {
      display: none;
    }

    &.LeftImage {
      max-width: 500px;

      @media (width < 1440px) {
        max-width: 375px;
      }

      @media (width < 1024px) {
        display: none;
      }
    }
  }

  .CenterTextContainer {
    min-width: 450px;
    font-size: 28px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (width < 1280px) {
      align-self: unset;
      min-width: fit-content;
      padding: 12px;
    }

    @media (width < 1024px) {
      order: 1;
    }

    .Line1 {
      display: flex;
      align-self: flex-start;
      color: theme.$primary03;
      font-size: 40px;

      @media (width < 1440px) {
        font-size: 32px;
      }

      @media (width < 1280px) {
        align-self: unset;
      }
    }

    .Line2 {
      display: flex;
      align-self: flex-start;
      color: theme.$grey07;
      font-size: 32px;
      padding-left: 36px;

      @media (width < 1440px) {
        font-size: 24px;
      }

      @media (width < 1280px) {
        align-self: unset;
        padding-left: 0;
      }
    }

    .Line3 {
      display: flex;
      align-self: flex-end;
      color: theme.$grey10;
      font-size: 40px;

      @media (width < 1440px) {
        font-size: 32px;
      }

      @media (width < 1280px) {
        align-self: unset;
      }
    }
  }
}

.FeaturesSection {
  display: flex;
  flex-direction: column;
  color: theme.$primary03;
  margin: 12px 0 24px;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;

  @media (width < 600px) {
    margin: 0;
  }

  .FeaturesText {
    width: 70%;
    margin: 0 auto;
    color: theme.$grey10;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.03em;

    @media (width < 1280px) {
      font-size: 18px;
    }
  }

  .FeaturesBlock {
    width: 70%;
    padding: 18px 24px;
    border-radius: 20px;
    background-color: theme.$grey02;

    @media (width < 1280px) {
      padding: 12px;
    }

    .H2 {
      font-weight: 600;
      color: theme.$primary03;
      text-align: center;

      @media (width < 1280px) {
        font-size: 24px;
      }
    }

    .UnorderedList {
      margin-bottom: 0;
      list-style-type: square;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;

      @media (width < 800px) {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
      }

      .ListItem {
        color: theme.$primary03;
        margin-left: 20px;
        padding: 4px 0 4px 4px;
        font-size: 18px;

        @media (width < 1550px) {
          margin-left: 0;
        }

        @media (width < 1280px) {
          font-size: 16px;
        }

        @media (width < 1024px) {
          padding: 2px 0 2px 2px;
          margin-left: 8px;
        }

        @media (width < 800px) {
          margin-left: 0;
        }

        > span {
          color: theme.$grey10;
        }
      }
    }
  }
}

.LowerSection {
  height: 140px;
  color: theme.$grey00;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: theme.$grey10;
  justify-content: space-evenly;
  align-items: center;

  @media (width < 1280px) {
    font-size: 20px;
  }

  @media (width < 800px) {
    font-size: 16px;
    text-align: center;
    padding: 12px 20px;
  }

  .Button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: theme.$grey00;
    font-size: 20px;
    background: theme.$primary03;
    height: 38px;
    width: 150px;
    border: none;
    border-radius: 5px;

    &:focus,
    &:hover {
      background: theme.$primary04;
      border: none;
      outline: none;
    }

    @media (width < 1280px) {
      font-size: 16px;
    }
  }
}
