@use "@styles/theme";

.Word {
  color: theme.$primary03;
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 24px;

  @media (width < 800px) {
    font-size: theme.$fontSizeLarger;
  }
}

.GuideText {
  width: 100%;
  margin: 6px auto;
  color: theme.$helpText;
  font-size: theme.$fontSizeDefault;
  text-align: justify;
  text-indent: 24px;
  letter-spacing: 0.03em;

  @media (width < 1024px) {
    font-size: theme.$fontSizeSmaller;
  }
}

.H1 {
  font-weight: 600;
  color: theme.$secondary03;
  text-align: center;
}

.H2 {
  font-size: 24px;
  font-weight: 600;
  color: theme.$text;
  text-align: left;

  @media (width < 800px) {
    font-size: theme.$fontSizeLarger;
  }
}

.H3 {
  font-size: theme.$fontSizeLargest;
  font-weight: 500;
  color: theme.$text;
  text-align: left;
  font-style: italic;

  @media (width < 800px) {
    font-size: theme.$fontSizeDefault;
  }
}

.HelpSection {
  margin: 0 auto 10px;
  width: 70%;

  @media (width < 1280px) {
    width: 80%;
  }

  @media (width < 1100px) {
    width: 90%;
  }

  @media (width < 800px) {
    margin: 6px auto;
  }
}

.HelpText {
  color: theme.$helpText;
  text-align: justify;
  margin: 0 0 12px 24px;
  letter-spacing: 0.03rem;

  @media (width < 800px) {
    font-size: theme.$fontSizeSmallest;
    letter-spacing: 0;
    margin: 0 0 6px 18px;
  }
}

.LegendText {
  width: 100%;
  margin: 0 auto;
  color: theme.$helpText;
  font-size: theme.$fontSizeSmaller;
  text-align: justify;
  letter-spacing: 0.03em;

  @media (width < 800px) {
    font-size: theme.$fontSizeSmallest;
    letter-spacing: 0;
  }
}

.NameAndCreator {
  display: flex;
  align-items: baseline;
  gap: 8px;

  @media (width < 1024px) {
    flex-direction: column;
    gap: 0;
  }
}

.ResourceLink {
  color: theme.$primary03;
  text-decoration: none;
  padding: 0;
  font-size: theme.$fontSizeLarger;

  @media (width < 800px) {
    font-size: theme.$fontSizeDefault;
  }

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    color: theme.$secondary03;
  }

  &:focus {
    text-decoration: underline;
  }

  &:hover {
    transition: 500ms ease;
  }
}

.Span {
  color: theme.$helpText;
  font-size: theme.$fontSizeSmaller;
  text-align: left;
  letter-spacing: 0.03em;
}

.Row {
  min-height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  .SymbolCell {
    min-width: 100px;
    display: flex;
    justify-content: center;

    @media (width < 800px) {
      min-width: 50px;
    }
  }
}
