@use "@styles/theme";

.Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 12px 8px 4px 16px;

  .HeaderContainer {
    display: flex;
    align-items: baseline;
    width: 100%;
    gap: 24px;
    color: theme.$helpText;

    .Header {
      color: theme.$primary03;
      margin-bottom: 0;
    }

    .FormSwitch {
      input {
        margin-right: 4px;

        &:checked {
          background-color: theme.$primary03;
          border-color: theme.$primary03;
        }
      }

      label {
        color: theme.$primary03;
      }
    }
  }

  .Small {
    color: theme.$helpText;
    margin: 4px 0 0;
    font-size: 0.8em;
  }

  .TranscriptionArea {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;

    .LinesContainer {
      flex-grow: 1;
    }

    .ButtonsContainer {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 4px 8px 0 0;

      .Button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        color: theme.$grey00;
        background: theme.$secondary03;
        padding: 4px 8px;
        border: none;
        border-radius: 5px;

        &.Download {
          color: theme.$primary03;
          background: theme.$grey01;
          font-size: theme.$fontSizeSmaller;
        }

        &:focus,
        &:hover {
          background: theme.$secondary05;
          border: none;
          outline: none;

          &.Download {
            background: theme.$grey02;
          }
        }
      }

      .DummyButton {
        width: 29px;
      }
    }
  }
}
