.AppWrapper {
    font-family: 'Noto Sans', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
}

.CopyrightText {
    color: #3e5276;
}

.Link {
    color: #3e5276;
    text-decoration: none;
    padding: 0;
    font-size: 16px;

    &:hover,
    &:focus {
        outline: none;
        cursor: pointer;
        color: #c9ac5f;
    }

    &:focus {
        text-decoration: underline;
    }

    &:hover {
        transition: 500ms ease;
    }
}