.Link {
    color: #3e5276;
    text-decoration: none;
    padding: 0;
    font-size: 16px;

    &:hover,
    &:focus {
        outline: none;
        cursor: pointer;
        color: #c9ac5f;
    }

    &:focus {
        text-decoration: underline;
    }

    &:hover {
        transition: 500ms ease;
    }
}