.H1 {
    font-weight: 600;
    color: #c9ac5f;
    text-align: center;
}

.H2 {
    font-weight: 600;
    color: #3e5276;
    text-align: center;
}

.Small {
    color: #6c757d;
    margin-top: 0.25rem;
    font-size: .8em;
}