@use "src/styles/theme";

.Container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;

  &.Lower {
    flex-direction: row;
    background: theme.$grey02;
    height: 350px;
    margin: 10px auto;

    .Section {
      display: flex;
      flex-direction: column;
      width: 50vw;
    }
  }

  &.Upper {
    margin: 30px auto;
  }

  .Text {
    font-size: 18px;
    color: theme.$grey10;
    text-align: justify;

    &.Italic {
      font-style: italic;
    }

    &.Smaller {
      font-size: 16px;
    }
  }
}

.H1 {
  font-weight: 600;
  color: theme.$secondary03;
  text-align: center;
}

.H2 {
  font-weight: 600;
  color: theme.$primary03;
  text-align: center;
}

.Small {
  color: theme.$grey07;
  margin-top: 6px;
  font-size: 0.8em;
}

.Partners {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 800px;
  padding: 30px 0 0;

  .Partner {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 200px;
    align-items: center;

    .PartnerText {
      color: theme.$primary03;
      font-size: 18px;
      text-align: center;
      margin: 0;
      padding: 20px 0;

      &.HoldingInstitutions {
        padding-bottom: 0;
        font-style: italic;
      }

      &.HoldingInstitute {
        font-size: 12px;
        padding: 2px 0;
      }

      &.MiradorFont {
        color: theme.$grey10;
        font-size: 48px;
        font-family: "Yanone Kaffeesatz", sans-serif;
        letter-spacing: 0.05em;
      }

      &.IIIFFont {
        color: #006eb0;
        font-family: "Playfair Display", sans-serif;
      }
    }
  }
}
