@use "@styles/theme";

.Container {
  position: absolute;
  z-index: 100;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: theme.$secondary03;
  color: theme.$grey09;
  padding: 12px 16px;
  border-radius: 6px;
}
