.UpperSection {
  display: flex;
  margin: 30px 0;
  justify-content: center;
  align-items: center;

  .Image {
    width: 100%;
    max-width: 450px;
    height: auto;
    border: 5px solid #3e5276;
    border-radius: 5px;

    &.LeftImage {
      max-width: 500px;
      border: 5px solid #c9ac5f;
    }
  }

  .CenterTextContainer {
    min-width: 450px;
    font-size: 28px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .Line1 {
      display: flex;
      align-self: flex-start;
      color: #3e5276;
      font-size: 40px;
    }

    .Line2 {
      display: flex;
      align-self: flex-start;
      color: #6c757d;
      font-size: 32px;
      padding-left: 36px;
    }

    .Line3 {
      display: flex;
      align-self: flex-end;
      color: #c9ac5f;
      font-size: 40px;
    }
  }
}

.FeaturesSection {
  display: flex;
  flex-direction: column;
  color: #3e5276;
  margin: 12px 0 24px 0;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;

  .FeaturesText {
    width: 70%;
    margin: 0 auto;
    color: #606060;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .FeaturesBlock {
    width: 80%;
    color: #fff;
    background: #3e5276;
    padding: 25px;
    border-radius: 20px;

    .H2 {
      font-weight: 600;
      color: #c9ac5f;
      text-align: center;
    }

    .UnorderedList {
      list-style-type: square;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;

      .ListItem {
        color: #c9ac5f;
        margin-left: 20px;
        padding: 10px 0 10px 10px;
        font-size: 20px;

        > span {
          color: #fff;
        }
      }
    }
  }
}

.LowerSection {
  height: 140px;
  color: #fff;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  background-color: #c9ac5f;
  justify-content: space-evenly;
  align-items: center;

  .Button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    background: #3e5276;
    height: 38px;
    width: 150px;
    border: none;
    border-radius: 5px;

    &:focus,
    &:hover {
      background: #3e527685;
      border: none;
      outline: none;
    }
  }
}
