@use "src/styles/theme";
@use "src/styles/variables";

.AppWrapper {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;

  .Navbar {
    border-top: 5px solid theme.$secondary03;
    padding-top: 0;

    .Container {
      max-width: 100%;
      background: theme.$primary03;
      padding: 5px 50px;

      .Brand {
        color: theme.$secondary03;
        font-size: 24px;
        font-style: italic;
        letter-spacing: 0.2rem;
      }

      .Toggle {
        border-color: theme.$secondary03;
      }

      .Nav {
        align-items: end;
        gap: 18px;

        .NavDropdown {
          > a {
            padding: 0;
            color: theme.$grey00;
            text-decoration: none;

            &:hover,
            &:focus {
              outline: none;
              cursor: pointer;
              color: theme.$secondary03;
            }

            &:focus {
              text-decoration: underline;
            }

            &:hover {
              transition: 500ms ease;
            }
          }

          > div {
            left: unset;
            right: 0;
          }

          .Divider {
            border-color: variables.$defaultBorderColor;
          }

          .DropdownItem {
            color: theme.$primary03;
            text-decoration: none;

            &:hover,
            &:focus {
              outline: none;
              cursor: pointer;
              color: theme.$secondary03;
            }

            &:focus {
              text-decoration: underline;
            }

            &:hover {
              transition: 500ms ease;
            }
          }
        }
      }
    }
  }

  .Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid theme.$secondary03;
    gap: 12px;
  }
}

.VerticalDivider {
  color: theme.$secondary03;
}

.CopyrightText {
  color: theme.$primary03;
}

.Link {
  color: theme.$primary03;
  text-decoration: none;
  padding: 0;
  font-size: 16px;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    color: theme.$secondary03;
  }

  &:focus {
    text-decoration: underline;
  }

  &:hover {
    transition: 500ms ease;
  }
}
