@use '@styles/theme';
@use '@styles/variables';

.AppWrapper {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: theme.$text;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100dvh;
  background-color: theme.$grey01;
  overflow: hidden;

  .Navbar {
    height: variables.$headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;

    @media (width <= 1024px) {
      padding: 10px 30px;
    }

    @media (width <= 800px) {
      padding: 10px;
    }

    .Brand {
      color: theme.$primary03;
      font-size: 24px;
      font-style: italic;
      letter-spacing: 0.2rem;
      text-decoration: none;

      @media (width <= 600px) {
        font-size: theme.$fontSizeLargest;
      }
    }

    .NavButtons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;

      @media (width <= 600px) {
        gap: 12px;
      }

      .NavLink {
        text-decoration: none;
        color: theme.$primary03;
        font-weight: 400;
        padding: 0;
        font-size: theme.$fontSizeDefault;
        overflow: hidden;
        position: relative;
        display: inline-block;

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          left: 0;
        }

        &::before {
          background-color: theme.$primary04;
          height: 2px;
          bottom: 0;
          transform-origin: 100% 50%;
          transform: scaleX(0);
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }

        &::after {
          content: attr(data-replace);
          height: 100%;
          top: 0;
          transform-origin: 100% 50%;
          transform: translate3d(200%, 0, 0);
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          color: theme.$primary04;
        }

        &:hover::before,
        &:focus-within::before {
          transform-origin: 0% 50%;
          transform: scaleX(1);
        }

        &:hover::after,
        &:focus-within::after {
          transform: translate3d(0, 0, 0);
        }

        span {
          display: inline-block;
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }

        &:hover > span,
        &:focus-within > span {
          transform: translate3d(-200%, 0, 0);
        }
      }
    }

    .NavDropdown {
      height: fit-content;
      color: theme.$primary03;
      font-weight: 400;

      > div {
        background-color: theme.$grey00;
        border: 1px solid theme.$grey03;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
      }

      > a {
        &:hover,
        &:focus {
          cursor: pointer;
          color: theme.$primary04;
        }

        &:focus {
          outline: 5px auto -webkit-focus-ring-color;
          outline-offset: 2px;
        }

        &:hover {
          outline: none;
          text-decoration: underline;
          transition: 500ms ease;
        }
      }

      .Divider {
        border-bottom: variables.$defaultBorderStyle;
      }

      .DropdownItem {
        padding: 8px;
        cursor: pointer;

        > a {
          display: flex;
          color: theme.$primary03;
          text-decoration: none;
          border-radius: 6px;
          width: 100%;

          &:focus,
          &:hover {
            outline: 2px solid theme.$primary03;
            outline-offset: 2px;
          }
        }
      }
    }
  }

  .Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: variables.$footerHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid theme.$primary03;
    gap: 12px;
  }
}

.VerticalDivider {
  height: 20px;
  width: 1px;
  background: theme.$primary03;
}

.CopyrightText {
  color: theme.$primary03;
}

.Link {
  color: theme.$primary03;
  text-decoration: none;
  padding: 0;
  font-size: theme.$fontSizeDefault;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    color: theme.$primary05;
  }

  &:focus {
    text-decoration: underline;
  }

  &:hover {
    transition: 500ms ease;
  }
}
