@use "src/styles/theme";
@use "src/styles/variables";

.AppWrapper {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 40px;
  background-color: theme.$grey00;
  border-top: 5px solid theme.$primary03;

  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;

    @media (width <= 1024px) {
      padding: 10px 30px;
    }

    @media (width <= 800px) {
      padding: 10px 20px;
    }

    .Brand {
      color: theme.$primary03;
      font-size: 24px;
      font-style: italic;
      letter-spacing: 0.2rem;
      text-decoration: none;

      @media (width <= 600px) {
        font-size: 20px;
      }

      .Beta {
        color: theme.$error;
        font-size: 18px;
        font-style: normal;
        letter-spacing: 0;

        @media (width <= 600px) {
          display: none;
        }
      }
    }

    .NavButtons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;

      @media (width <= 600px) {
        gap: 15px;
      }

      .NavLink {
        text-decoration: none;
        color: theme.$primary03;
        font-weight: 400;
        vertical-align: top;
        padding: 0;
        font-size: 16px;
        overflow: hidden;
        position: relative;
        display: inline-block;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
        }

        &::before {
          background-color: theme.$primary04;
          height: 2px;
          bottom: 0;
          transform-origin: 100% 50%;
          transform: scaleX(0);
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }

        &::after {
          content: attr(data-replace);
          height: 100%;
          top: 0;
          transform-origin: 100% 50%;
          transform: translate3d(200%, 0, 0);
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          color: theme.$primary04;
        }

        &:hover::before,
        &:focus-within::before {
          transform-origin: 0% 50%;
          transform: scaleX(1);
        }

        &:hover::after,
        &:focus-within::after {
          transform: translate3d(0, 0, 0);
        }

        span {
          display: inline-block;
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }

        &:hover > span,
        &:focus-within > span {
          transform: translate3d(-200%, 0, 0);
        }
      }
    }

    .NavDropdown {
      height: fit-content;
      color: theme.$primary03;

      > a {
        &:hover,
        &:focus {
          outline: none;
          cursor: pointer;
          color: theme.$primary04;
        }

        &:focus {
          text-decoration: underline;
        }

        &:hover {
          transition: 500ms ease;
        }
      }

      .Divider {
        border-bottom: variables.$defaultBorderStyle;
      }

      .DropdownItem {
        padding: 8px;

        > a {
          color: theme.$primary03;
          text-decoration: none;

          &:hover,
          &:focus {
            outline: none;
            cursor: pointer;
            color: theme.$primary04;
          }

          &:focus {
            text-decoration: underline;
          }

          &:hover {
            transition: 500ms ease;
          }
        }
      }
    }
  }

  .Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid theme.$primary03;
    gap: 12px;
  }
}

.VerticalDivider {
  height: 20px;
  width: 1px;
  background: theme.$primary03;
}

.CopyrightText {
  color: theme.$primary03;
}

.Link {
  color: theme.$primary03;
  text-decoration: none;
  padding: 0;
  font-size: 16px;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    color: theme.$primary05;
  }

  &:focus {
    text-decoration: underline;
  }

  &:hover {
    transition: 500ms ease;
  }
}
