@use "src/styles/theme";

.Wrapper {
  width: 100vw;
  height: calc(100vh - 125px);
  display: flex;
  align-items: center;
  justify-content: center;

  .LeftSection {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: -1;
    gap: 20px;

    .H1 {
      color: theme.$primary03;
      font-size: 40px;
    }

    .Text {
      font-size: 18px;
      text-align: center;
      width: 40vw;
      color: theme.$grey10;
      margin: 0 auto;
    }

    .Button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: theme.$grey00;
      font-size: 20px;
      background: theme.$primary03;
      height: 38px;
      width: 90px;
      border: none;
      border-radius: 5px;

      &:focus,
      &:hover {
        background: theme.$primary02;
        border: none;
        outline: none;
      }
    }
  }

  .RightSection {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 65%;
    z-index: -2;
    transform: translate(-50%, -50%);
  }
}
