@use "src/styles/theme";

.Wrapper {
  width: 100vw;
  height: calc(100vh - 125px);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (width < 1024px) {
    flex-direction: column;
  }

  .LeftSection {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    gap: 20px;

    @media (width < 1024px) {
      height: fit-content;
      position: relative;
      transform: none;
      top: unset;
      left: unset;
    }

    .H1 {
      color: theme.$primary03;
      font-size: 40px;

      @media (width < 1280px) {
        font-size: 32px;
      }
    }

    .Text {
      font-size: 18px;
      text-align: center;
      width: 40vw;
      color: theme.$grey10;
      margin: 0 auto;

      @media (width < 1280px) {
        width: 35vw;
        font-size: 16px;
      }

      @media (width < 1024px) {
        width: 90%;
      }
    }

    .Button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: theme.$grey00;
      font-size: 20px;
      background: theme.$primary03;
      height: 38px;
      width: 90px;
      border: none;
      border-radius: 5px;

      &:focus,
      &:hover {
        background: theme.$primary02;
        border: none;
        outline: none;
      }
    }
  }

  .RightSection {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);

    @media (width < 1024px) {
      position: relative;
      top: unset;
      left: unset;
      transform: none;
    }

    .Image {
      width: 1200px;

      @media (width < 1280px) {
        width: 900px;
      }

      @media (width < 1024px) {
        height: 100%;
        width: 100%;
      }
    }
  }
}
