.Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 12px 0 4px 24px;

  .Header {
    color: #3e5276;
    margin-bottom: 5px;
  }

  .Section {
    display: flex;
    width: 100%;
    padding: 8px 0;
    gap: 24px;
    color: #6c757d;

    .FormSwitch {
      input {
        border-color: #3e5276;
        color: #3e5276;

        &:checked {
          background-color: #3e5276;
          border-color: #3e5276;
        }
      }
    }
  }

  .Small {
    color: #6c757d;
    margin: 6px 0;
    font-size: 0.8em;
  }

  .LinesContainer {
    overflow-y: scroll;
    flex-grow: 1;
  }

  .ButtonsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 12px;

    .Button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #c9ac5f;
      height: 38px;
      width: 90px;
      border: none;
      border-radius: 5px;

      &.Back {
        color: #3e5276;
        background: #d3d3d3;
      }

      &:focus,
      &:hover {
        background: #c9ac5f85;
        border: none;
        outline: none;

        &.Back {
          background: #d3d3d385;
        }
      }
    }
  }
}
